html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;

    margin-bottom: -70px;
}
/* FOOTER */
.footer {
    margin-left: 5%;
    margin-right: 5%;
    background: #231f20;
    color: aliceblue;
    height: 70px;
}

.footer .footer-content {
    display: flex;
    padding-left: 10%;
    padding-left: 5%;
    padding-right: 40%;
    justify-content: space-between;
}

/* HEADER */

.header {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.header .image__2 {
    padding-top: 30px;
    height: 40px;
    width: static;
}

.main_content {
    display: flex;
    background: #231f20;
    color: aliceblue;
    height: 70px;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
    /* border: 2px solid red; */
}
